.bracket {
    -fx-fill: peru;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: orange;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}
.number {
    -fx-fill: violet;
}
.boolean {
    -fx-fill: green;
}
.null {
    -fx-fill: red;
}